<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/editar.css">
    <link rel="icon" type="imagem/png" href="https://static.vecteezy.com/system/resources/previews/001/200/097/large_2x/book-png.png" />
    <title>Machine Book</title>
</head>
<body>
    <header>
        <div>
        </div>
        <div class="art">
            <img src="https://static.vecteezy.com/system/resources/previews/001/200/097/large_2x/book-png.png" height="35" width="45" alt="book">
            <h1>Machine Book</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/"><b>Home</b></a></li>
                <li><a href="/adicionar"><b>Adicionar</b></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="container">
            <h1 id="first">Editar <%= produtoAt.titulo %>  </h1>
            <form action="/editar/<%= produtoAt.id %> " method="post">
                <div class="card">
                    <div class="titulo">
                        <label for="titutlo"> Título: </label><br>
                        <input id="titulo" type="text" name="titulo" value=" <%= produtoAt.titulo %> " required>
                    </div><br>
                    <div class="autor">
                        <label for="autores"> Autor: </label><br>
                        <input id="autores" type="text" value=" <%= produtoAt.autores %> " name="autores">
                    </div><br>
                    <div class="ano">
                        <label for="ano"> Ano de Publicação: </label><br>
                        <input id="ano" type="text" value=" <%= produtoAt.ano %> " name="ano">
                    </div><br>
                    <div class="sinopse">
                        <label for="sinopse"> Sinopse: </label><br>
                        <textarea id="sinopse" rows="10" cols="32" maxlength="400" aria-text=" <%= produtoAt.sinopse %> " name="sinopse"></textarea>
                    </div><br>
                    <div class="imagem">
                        <label for="img"> Imagem: </label><br>
                        <input id="img" type= "url" value=" <%= produtoAt.img %> " name="img">
                    </div>
                </div>
                <div class="buttom">
                    <button id="adicionar" type="submit">Editar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <b>Todos os direitos reservados a autora Jamile Boffo</b>
    </footer>
</body>
</html>
