<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="imagem/png" href="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" />
    <title>Machine Book</title>
</head>
<body>
    <header>
        <div>
            <img src="https://www.nozartes.com.br/wp-content/uploads/2020/03/ico-livro-branco.png" height="40" width="50" alt="book">
        </div>
        <h1>Machine Book</h1>
        <nav>
            <ul>
                <li><a href="/adicionar">Adicionar</a></li>
                <li> | </li>
                <li><a href="/editar">Editar</a></li>
                <li> | </li>
                <li><a href="/deletar">Deletar</a></li>
            </ul>
        </nav>
    </header>
    <% if(message != "") {  %>
        <section id="message">
            <p><%= message %></p> <span id="close">&times;</span>
        </section>
    <% }  %>
    
    <main>
        <% livros.forEach(element => { %>
            <a href="/detalhes/<%= element.id %> ">
                <div class="product-container">
                    <div class="header-container">
                        <img src="<%= element.img %> " height="250" width="250" alt="<%= element.titulo %> ">
                    </div>
                <div class="main-container">
                        <span class="title-container"> <%= element.titulo %> </span>
                        <br>
                        <span class="autor-container"> <%= element.autores %> </span>
                    </div>
                </div>
            </a>
        <% }) %>
    </main>
    <footer>
        <b>Todos os direitos reservados a autora Jamile Boffo</b>
    </footer>
    <script src="./public/js/scriptclose.js"></script>
</body>
</html>
