<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div></div>
        <h1>Machine Book</h1>
        <nav>
            <ul>
                <li><a href="/criar">Criar</a></li>
                <li> | </li>
                <li><a href="/editar">Editar</a></li>
                <li> | </li>
                <li><a href="/deletar">Deletar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <% produtos.forEach(element => { %>
            <a href="/detalhes/<%= element.id %> ">
                <div class="product-container">
                    <div class="header-container">
                        <img src="<%= element.img %> " height="250" width="250" alt="<%= element.nome %> ">
                    </div>
                <div class="main-container">
                        <span class="title-container"> <%= element.nome %> </span>
                        <br>
                        <span class="autor-container"> <%= element.autor %> </span>
                    </div>
                </div>
            </a>
        <% }) %>
        
    </main>
    <footer>
        <b>Todos os diretos reservados a autora Jamile Boffo</b>
    </footer>
</body>
</html>
